<app-header></app-header>


<section class="formsection">

  <form class="teladelogin" [formGroup]="myformslogin">

    <h1 class="titulo-login">Login</h1>

    <div class="boxemail">
        <label for="email"> Seu e-mail </label>
        <input type="email" placeholder="Ex:12345678980@gmail.com" formControlName="email" >
    </div>

    <div class="boxsenha">
        <label for="senha">Senha</label>
        <input type="password" placeholder="1234"  formControlName="senha">

    </div>

    <!-- <div class="boxbuttonlogin">
        <button id="botaologin">Entrar</button>
    </div> -->

    <div>

      <btn-primary btn-text="Entrar" variant="primary" (submit)="dosubmit()"></btn-primary>
      
    </div>

    <br>
    <a href="#" class="esqueceuasenha"> Esqueci a senha </a>

  </form>

</section>
