<app-header></app-header>


<main>
  <div class="teladelogin">

    <h1 class="titulo-login">Login</h1>

    <div class="boxemail">
        <label for="email"> Seu e-mail</label>
        <input type="email" placeholder="Ex:12345678980@gmail.com" >
    </div>

    <div class="boxsenha">
        <label for="senha">Senha</label>
        <input type="password" placeholder="1234">
    </div>

    <!-- <div class="boxbuttonlogin">
        <button id="botaologin">Entrar</button>
    </div> -->

    <div>
      <btn-primary btn-text="Entrar" variant="primary"></btn-primary>
    </div>

    <br>
    <a href="#" class="esqueceuasenha"> Esqueci a senha </a>

  </div>
</main>
