.formsection {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.teladelogin {
  background-color: aliceblue;
  padding: 30px;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  border: 8px solid whitesmoke ;
  border-radius: 10px;

}

.boxemail {

  height: 50px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.boxsenha {
  height: 50px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

 /* .boxbuttonlogin {
  padding: 10px;
  display: flex;
  flex-direction: column;
} */


/* #botaologin {
  border-radius: 7px;
  color: aliceblue;
  padding: 7px;
  background-color: dodgerblue;
} */


/* #botaologin:hover {

  cursor: pointer;
  background-color: deepskyblue;

} */


input {
  padding: 4px;
}


.titulo-login {
  font-size: 35px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}


.esqueceuasenha {

  display: flex;
  align-items: center;
  justify-content: center;
}


#boxseepassword {
  margin-left: 130px;
  margin-top: 5px;



}



.btn-login {
  margin-top: 20px;
}
