.btn{
  cursor: pointer;

  &:disabled {
    opacity: 0.6;
  }

  &.primary {
    margin: 15px;
    width: 230px;
    border-radius: 7px;
    color: aliceblue;
    padding: 7px;
    background-color: dodgerblue;

}
  &.primary:hover {
    background-color: deepskyblue;
  }


}
